body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barra-topo{
    background-color: #EC362D;
    width:100%;
    height: 69px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barra-topo span{
    margin-top: 0px;
}

.criar-quiz{
    width: 70%;
    height: 181px;
    margin-top: 90px;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #B9B9B9;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.criar-quiz > span{
    width:80%;
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-bottom: 10px;
}
span{
    width: 70%;
    font-weight: bold;
    margin-top: 35px;
}
.botao-criar-quiz{
   width: 136px;
   height: 40px;
   color: #EC362D;
   font-size: 21px;
   margin-top: 13px;
   font-weight: 400;
   text-align: center;
   border: 1px dashed #EC362D;
   box-sizing: border-box;
   border-radius: 50px;
   display:flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.todos-os-quizes{
    width:73%;
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.lista-quizz li{
    width: 340px;
    height: 181px;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 15px;
    position: relative;
}
.seus-quizes{
    width: 73%;
}

.lista-quizz{
    display: flex;
    flex-wrap: wrap;
}

.mini-menu{
    width: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
ion-icon{
    color:red;
    font-size: 30px;
    cursor: pointer;
}
.seus-quizes{
    margin-top:90px;
}
.titulo-quizz{
    width: 100%;
    margin-top: 17px;
    height: 227px;
    background-color: green;
}
.titulo-pergunta{
    width: 50%;
    height: 89px;
    background-color: #434CA0;
    margin-top: 40px;
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.respostas-unica{
    width: 50%;
    height: 300px;
    background-color: palevioletred;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.respostas-unica li{
    width: 40%;
    height: 135px;
    background-color: white;
    margin-left: 40px;
    margin-right: 20px;
}
.resultado-quizz{
    width: 50%;
    word-break: break-word;
    display: flex;
    flex-wrap: wrap;
}

.resultado-quizz > span{
        width: 100%;
        height: 99px;
        background-color: #EC362D;
        margin-top: 40px;
        font-size: 19px;
        font-weight: bold;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
}
.resultado-quizz > img{
    width: 49%;
    height: 255px;
    display: inline;
}
.resultado-quizz div{
    width: 328px;
    color: #484848;
    margin-left: 20px;
    font-size: 19px;
}
.resultado-quizz > p{
    margin-top: 10px;
    font-size: 17px;
    color: #484848;
    font-weight: bold;
    display: inline;

}
.voltar-home{
    width: 220px;
    font-weight: 400;
    margin-top: 15px;  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #818181;
    margin-bottom: 55px;
}
.reiniciar-quizz{
    width: 230px;
    height: 50px;
    margin-top: 60px;
    background-color: #EC362D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF5F4;
    font-size:18px;
    font-weight: 400;
}

@media(max-width:1100px){
    .criar-quiz{
        width: 90%;
    }
    .todos-os-quizes{
        width: 90%;
    }
    .titulo-pergunta{
        width:90%;
    }
    .respostas-unica{
        width: 90%;
    }
    .respostas-unica li{
        margin-left: 18px;
        margin-right: 10px;
    }
    .resultado-quizz{
        width: 90%;
    }
    .resultado-quizz div{
        margin-left: 0px;
        margin-top: 10px;
    }
    .lista-quizz {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    body > span{
        width: 90%;
    }
    .lista-quizz li{
        width: 325px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .mini-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    .seus-quizes{
        width: 90%;
        font-size: 20px;
    }
    .titulo-quizz{
        height: 142px;
    }
    .resultado-quizz > img{
        width: 100%;
        height: 255px;
    }
}
.escondido{
    display: none;
}
li img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
li span{
    position:absolute;
    left: 30px;
    bottom: 20px;
    color:#FFFFFF;
    font-size:19px;
    font-weight: normal;
    z-index: 2;
    word-break: break-word;
}